{% extends 'master.html' %} {% load static %} {% block title %} <title>Topic</title> {% endblock title %} {% block script %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> {% endblock script %} {% block style %} <style>
    /* Styling for mobile devices with screen width up to 768px */
    @media only screen and (max-width: 768px) {}
  
    /* Styling for desktop devices with screen width greater than 768px */
    @media only screen and (min-width: 769px) {
      .topic-comment {
        width: 50%;
      }
    }
  </style> {% endblock style %} {% block body_content %}
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg bg-light mx-auto mt-3 mb-5 rounded-3 border w-75">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">
        <img src="{% static 'sour.svg' %}" alt="sour icon" width="35"> Sour </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- Make Topic Button & Modal -->
            <a class="nav-link" style="bottom:30px; right: 30px;" data-bs-toggle="modal" data-bs-target="#create-topic-modal" href="#">Create Topic</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Account </a>
            <ul class="dropdown-menu"> {% if authenticated %} <li>
                <a class="dropdown-item" href="/profile/{{ current_user }}">Profile</a>
              </li>
              <li>
                <form method="post">
                  <button class="dropdown-item" name="logout" type="submit">Logout </a> {% csrf_token %}
                </form>
              </li> {% else %}
              <!-- First 2 options redirect users to the main page if they're already logged in. -->
              <li>
                <a class="dropdown-item" href="/login">Login</a>
              </li>
              <li>
                <a class="dropdown-item" href="/signup">Sign Up</a>
              </li> {% endif %}
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Topic" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> {% csrf_token %}
        </form>
      </div>
    </div>
  </nav>
  <!-- Topic Section -->
  <div class="container">
    <!-- Topic Info -->
    <div class="container">
      <h1 class="text-center fw-bold">{{ title }}</h1>
      <h5 class="text-center mb-4">
        <span class="badge bg-secondary">{{ username }}</span>
      </h5>
      <div class="w-75 mx-auto border rounded-3 p-4 mb-5 position-relative fw-bold">{{ origin_comment }}</div>
    </div>
    <!-- Comments -->
    <div class="container border rounded-3"> {% for comment in comments %}
      <!-- 2n-1 comments = left side, 2n comments = right side -->
      <div class="{% if forloop.counter0|divisibleby:2 %}
              me-auto 
              {% else %}
              ms-auto
              {% endif %} border rounded-3 p-4 m-5 position-relative topic-comment">{{ comment.comment_content }}
        <!-- Upvote Downvote Div -->
        <div class="d-flex position-absolute fw-bold" style="bottom:-18px; cursor: pointer;">
          <div class="border border-1 rounded-5 p-1 me-2" style="background-color: rgb(231, 230, 230);">
            <img src="{% static 'up.png' %}" alt="upvote icon" width="20px"> {{ comment.comment_upvotes }}
          </div>
          <div class="border border-1 rounded-5 p-1" style="background-color: rgb(231, 230, 230);">
            <img src="{% static 'down.png' %}" alt="upvote icon" width="20px"> {{ comment.comment_downvotes }}
          </div>
        </div>
        <!-- Username Badge Div -->
        <div class="position-absolute" style="top:-14px;">
          <h5 class="text-center mb-4">
            <span class="badge bg-secondary">{{ comment.comment_username }}</span>
          </h5>
        </div>
      </div> {% endfor %}
    </div>
  </div>
  <!-- Load More Comments button -->
  <button class="btn btn-outline-warning mx-auto my-5 d-block">Load More Comments</button>
  <!-- Make Comment Button & Modal -->
  <button type="button" class="btn btn-warning position-fixed" style="bottom:30px; right: 30px;" data-bs-toggle="modal" data-bs-target="#create-comment-modal">Make Comment</button>
  <!-- Create Comment Modal-->
  <div class="modal fade" id="create-comment-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container m-auto p-3 text-center" id="login-panel">
            <form method="POST" action="/handlemodalsubmit/">
              <input type="hidden" name="current-path" value="{{ request.path }}">
              <input type="hidden" name="topic-id" value="{{ topic_id }}">
              <h4 class="fw-bold">Comment</h4>
              <input type="text" class="form-control mb-3 text-center" id="topic-comment" placeholder="Lorem ipsum dolor sit amet." name="topic-comment"> {% csrf_token %}
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="register-comment">Post Comment</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Create Topic Modal -->
  <div class="modal fade" id="create-topic-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container m-auto p-3 text-center" id="login-panel">
            <form method="POST" action="/handlemodalsubmit/">
              <input type="hidden" name="current-path" value="{{ request.path }}">
              <h4 class="fw-bold">Topic Title</h4>
              <input type="text" class="form-control mb-3 text-center" id="topic-title" placeholder="AOT is trash!" name="topic-title">
              <h4 class="fw-bold">Comment</h4>
              <input type="text" class="form-control mb-3 text-center" id="topic-comment" placeholder="I've never watched such a clown show in my life." name="topic-comment">
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="register-topic">Post Topic</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div> {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> {% endblock body_content %}